//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//                                                                             +
// Diego Ling: ely.flat                                                        +
//                                                                             +
// Проект: ely.flat                                                            +
//                                                                             +
// Файл: _utils.scss                                                           +
// Файл создан: 04.02.2019 18:44:53                                            +
//                                                                             +
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@import "../variables/variables";

@mixin applyShadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
}

@mixin applyDefaultShadow() {
  @include applyShadow($shadowStyle)
}

@function getPrimaryColor() {
  @return map-get($colorsMap, "primary");
}

//
//  Returns the color
//
@function colorStyle($key) {
  @if map-has-key($colorsMap, $key) {
    @return map-get($colorsMap, $key);
  }
  @warn "Unknown `#{$key}` in $colorsMap.";
  @return #fff;
}


//
//  Returns the size
//
@function getTheSize($key, $size) {
  @if map-has-key($sizesMap, $key) {
    @return $size * map-get($sizesMap, $key);
  }
  @warn "Unknown `#{$key}` in $sizesMap.";
  @return $size;
}

.--clickable {
  opacity: 0.7;
  transition: opacity 0.6s;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

@mixin deny-selection() {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.--no-select {
  @include deny-selection();
}

.--scrollView{
  overflow: scroll;
}

@each $style in $stylesList {
  .bg-n-bd-#{$style} {
    border-color: colorStyle($style) !important;
    background-color: colorStyle($style) !important;
  }

  .bg-#{$style} {
    background-color: colorStyle($style) !important;
  }

  .bd-#{$style} {
    border-color: colorStyle($style) !important;
  }

  .stroke-#{$style} {
    stroke: colorStyle($style) !important;
  }
}

.--hidden {
  display: none;
}

@each $weight in $weightsList {
  .--#{$weight} {
    font-weight: map-get($weightsMap, $weight) !important;
  }
}

@each $sizeName in $sizesList {
  .--#{$sizeName} {
    font-size: #{getTheSize($sizeName, 14)}px;
  }
}

@each $style in $stylesList {
  .--#{$style} {
    color: colorStyle($style) !important;
  }
}