//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Diego Ling: ely.flat                                                        +
//                                                                             +
// Файл: __style.scss                                                          +
// Файл создан: 23.11.2018 23:03:24                                            +
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

//
//  Элемент для втавки
//
.elyuiws-placeolder-item{
  //margin: 8px;
  padding: 15px;
  text-align: center;
  color: #d0d0d0;
  border: 4px dashed #d0d0d0;
  width: 100%;
}

//
//  Navigations
//
@import "navigation/elyTabBar";