//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Diego Ling: ely.flat                                                        +
//                                                                             +
// Файл: __style.scss                                                          +
// Файл создан: 23.11.2018 23:03:24                                            +
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@import "../../../ely.core/scss/vriables";
@import "../../../ely.core/scss/mixins/shadow";
@import "../../../ely.core/scss/mixins/ui";
@import "../../../ely.core/scss/mixins/media";

$color-paid: #7fdbff;
$color-sent: #39cccc;


.ef-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: -190px;
  position: relative;

  .ef-chart-default {

    display: block;
    position: relative;
    width: 600px;
    height: 300px;
    margin: 1.1em 0 0;
    padding: 0;
    background: transparent;
    font-size: 11px;

    caption {
      caption-side: top;
      display: block;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: .5px;
      top: -40px;
      position: relative;
      z-index: 10;
      text-align: center;
      font-weight: bold;
    }

    tr, th, td {
      position: absolute;
      bottom: 0;
      width: 50px;
      z-index: 2;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    td {
      transition: all .3s ease;

      &:hover {
        background-color: desaturate(#85144b, 100);
        opacity: .9;
        color: white;
      }
    }

    thead tr {
      left: 100%;
      top: 50%;
      bottom: auto;
      margin: -2.5em 0 0 5em;
    }
    thead th {
      width: 7.5em;
      height: auto;
      padding: 0.5em 1em;
    }

    tbody tr {
      height: 100%;
      padding-left: 10px;
      padding-top: 2px;
      border-left: 1px dotted #C4C4C4;
      color: #AAA;
    }


    tbody th {
      position: relative;
      text-align: left;
      vertical-align: top;
      font-weight: normal;
      color: #333;
      transform: rotate(45deg);
    }
    .bar {
      width: 100%;
      border: 1px solid;
      border-bottom: none;
      color: #000;
      transition: all .3s ease;
    }
    .bar p {
      margin: 5px 0 0;
      padding: 0;
      opacity: .4;
    }
    .odd {
      background-color: $color-sent;
      border-color: transparent;
    }
    .nodd {
      background-color: $color-paid;
      border-color: transparent;
    }

  }

  .ticks {
    position: relative;
    top: -150px;
    left: 2px;
    width: 596px;
    z-index: 1;
    font-size: 10px;
    font-family: "fira-sans-2", Verdana, sans-serif;

    .tick {
      position: relative;
      border-bottom: 1px dotted #C4C4C4;
      width: 600px;
      height: 50px;
    }
  }

  .ticks .tick p {
    position: absolute;
    left: -5em;
    top: -0.8em;
    margin: 0 0 0 0.5em;
  }
}

.chart-bg{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 360px;
  left: 0;
  right: 0;
  top: 0;
  @include box-shadow-core($controlDefaultShadow);
}