//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//                                                                             +
// Diego Ling: ely.flat                                                        +
//                                                                             +
// Проект: ely.flat                                                            +
//                                                                             +
// Файл: __efCnv.scss                                                          +
// Файл создан: 28.12.2018 01:48:51                                            +
//                                                                             +
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.ef-cnv{
  position: relative;
  @include deny-selection();

  .ef-cnv-layer{
    position: absolute;
    top: 0;
    left: 0;
    @include deny-selection();
  }
}