//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//                                                                             +
// Diego Ling: ely.flat                                                        +
//                                                                             +
// Проект: ely.flat                                                            +
//                                                                             +
// Файл: _elyFlatMobile.scss                                                   +
// Файл создан: 06.01.2019 02:26:49                                            +
//                                                                             +
//++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


@import "../../../ely.core/scss/mixins/media";

//
//  Мобильная адаптация ely.Core.UI
//

@include mobile-only {
  .ely-navigation-view {
    padding: 16px 10px;
    text-align: center;
  }

  .ef-sidenav-toggle .fa {
    padding-top: 26px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
  }
}